.container
  %h1.mt-5.mb-5.text-center.text-white
    Mis Eventos

  %article.card
    %header.card-header 
      Privados
    .card-body
      .row
        -@private_events.each do |event|
          .col-md-3.text-center
            %figure.card.card-product-grid.mb-3
              .img-wrap
                -if event.image.attached?
                  = image_tag event.image, class: 'img-cover'
              %figcaption.info-wrap
                %a.title.text-truncate{href: event_path(event.id)}
                  = event.title
                %p.price.mb-2 
                  Precio: #{number_to_currency(event.price)}
                %p.mb-2 
                  Token: #{event.auth_token}
                .row.justify-content-center
                  .col-6.p-0.pr-1
                    %a.btn.btn-primary.btn-sm{:href => event_path(event.id), style:"width:100%;"}
                      Ver Evento
                  .col-6.p-0
                    %a.btn.btn-primary.btn-sm{:href => edit_event_path(event.id), style:"width:100%;"}
                      Editar Evento
                  .col-6.p-0.mt-2
                    .btn.btn-danger.btn-sm
                      = link_to "Eliminar", delete_event_path(event.auth_token), method: "delete", confirm: "Estas seguro?", disable_with: "Processing..." , style: "color:white;"

    %header.card-header 
      Públicos
    .card-body
      .row
        -@open_events.each do |event|
          .col-md-3.text-center
            %figure.card.card-product-grid.mb-3
              .img-wrap
                -if event.image.attached?
                  = image_tag event.image, class: 'img-cover'

              %figcaption.info-wrap
                %a.title.text-truncate{:href => event_path(event.id)}
                  #{event.title}
                %p.price.mb-2 
                  Precio: #{number_to_currency(event.price)}
                .row 
                  .col-6.p-0.pr-1
                    %a.btn.btn-primary.btn-sm{:href => event_path(event.id), style:"width:100%;"}
                      Ver Evento
                  .col-6.p-0
                    %a.btn.btn-primary.btn-sm{:href => edit_event_path(event.id), style:"width:100%;"}
                      Editar Evento
