.container.mt-4.mb-3.book-container
  .row.justify-content-center.mb-4
    .col-lg-12.col-md-12.col-sm-12.panel-style
      %h3.mb-5.text-center.text-white
        Mis Tickets
      .row.justify-content-center
        .col-lg-11.col-md-8.col-sm-10.col-xs-12
          .centered
            .card.card-shadow.order-summary.mb-5
              .card-body
                %h3.mb-4
                  Eventos Próximos
                -if @tickets
                  .row
                    -@tickets.order("created_at desc").each do |ticket|
                      -event = Event.find(ticket.event_id)
                      - if event.date >=  Time.zone.now
                        .col-4.mb-5
                          .card{:style => "width: 18rem;"}
                            = image_tag Event.find(ticket.event_id).image, class: 'card-img-top'
                            -# %img.card-img-top{:alt => "Card image cap", :src => "}/
                            .card-body
                              %h5.card-title
                                = event.title
                              %h5.card-title
                                Ticket id: #{ticket.id}
                              %h5.mb-4
                                Asiento:
                                %span{style: "font-size:19px; font-weight:normal;"}
                                  =ticket.seat_number
                              %p.card-text
                                = truncate(event.description, :length => 80)
                              %a.btn.btn-primary{:href => ticket_path(ticket)} Ver Ticket
                  %h3.mb-4
                    Eventos Pasados
                  .row
                    -@tickets.order("created_at desc").each do |ticket|
                      -event = Event.find(ticket.event_id)
                      - if event.date < Time.zone.now
                        .col-4.mb-5
                          .card{:style => "width: 18rem;"}
                            = image_tag Event.find(ticket.event_id).image, class: 'card-img-top'
                            -# %img.card-img-top{:alt => "Card image cap", :src => "}/
                            .card-body
                              %h5.card-title
                                = event.title
                              %h5.card-title
                                Ticket id: #{ticket.id}
                              %p.card-text
                                = truncate(event.description, :length => 80)
                              %a.btn.btn-primary{:href => "#"} Ver Ticket
                -else 
                  %h2
                    No hay